<md-sidenav-container>
  <md-sidenav #sidenav mode="side" class="app-sidenav">
    Sidenav
  </md-sidenav>
  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button> Angular Material2 Example App

    <span class="app-toolbar-filler"></span>
    <!--<button md-button (click)="isDarkTheme = !isDarkTheme">TOGGLE DARK THEME</button>-->
  </md-toolbar>
  <div id="navigation">
    <nav>
      <a [routerLink]=" ['./'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Index
      </a>
      <a [routerLink]=" ['./home'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Home
      </a>
      <a [routerLink]=" ['./detail'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Detail
      </a>
      <a [routerLink]=" ['./barrel'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Barrel
      </a>
      <a [routerLink]=" ['./about'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        About
      </a>
      <a [routerLink]=" ['./users'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Users
      </a>
    </nav>
  </div>
  <main>
    <router-outlet></router-outlet>
  </main>

  <pre class="app-state">this.appState.state = {{ appState.state | json }}</pre>
  <button md-button>Click me!</button>


  <footer>
    <span>WebPack Angular 2 Starter by <a [href]="url">@AngularClass</a></span>
    <!--
      <div>
        <a [href]="url">
          <img [src]="angularclassLogo" width="25%">
        </a>
      </div>
      -->
  </footer>
</md-sidenav-container>